<section class="section">
    <div class="container is-max-dekstop">
        <h1 class="title">Change Password</h1>
        <form id="password-form" method="post">
            <div class="field">
                <label for="password" class="label">Password</label>
                <div class="control">
                    <input class="input" type="password" id="password" name="password">
                </div>
                <p id="pass-error" class="help is-danger error"></p>
            </div>
            <div class="buttons">
                <input class="button is-link" type="submit" value="Change">
                <a href="/editProfile" class="button is-primary">Cancel</a>
            </div>
        </form>
    </div>
</section>
<script>
    const showPassError = errorManager('pass-error');
    
    handleForm('password-form', 'POST', '/editProfile/changePassword/:id', (formData) => {
        const password = formData.get('password');
        if(password === "")
            return showPassError('A password must be provided.');
        if(password.length < 6 || !password.match(/[A-Z]/g) || !password.match(/\d/g) || !password.match(/[!-\/:-@\[-`]/g))
            return showPassError('Password must be at least six characters and contain an uppercase letter, a digit, and a special character.');
        showPassError();

        console.log(formData.get('major'));
        return {
            password: password
        };
    });
</script>