<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>SIT Poll</title>
        <link rel="stylesheet" href="/public/css/main.css">
        <link rel="stylesheet" href="/public/css/bulma.css">
        <link rel="shortcut icon" href="/public/favicon.ico">
        <script src="/public/js/helpers.js"></script>
    </head>
    <body>
        {{#if session.userId}}
            <nav class="navbar">
                <div class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" href="/">
                            Home
                        </a>
                        {{#if (or session.manager session.admin)}}
                            <a class="navbar-item" href="/create">
                                Create Poll
                            </a>
                        {{/if}}
                        {{#if session.manager}}
                            <a class="navbar-item" href="/rosters">
                                Rosters
                            </a>
                        {{/if}}
                        {{#if session.admin}}
                            <a class="navbar-item" href="/admin">
                                Admin
                            </a>
                        {{/if}}
                    </div>
                    <div class="navbar-end">
                        <a class="navbar-item" href="/edit-profile">
                            Edit Profile
                        </a>
                        <a class="navbar-item" href="/change-password">
                            Change Password
                        </a>
                        <a class="navbar-item" href="/logout">
                            Log Out
                        </a>
                    </div>
                </div>
            </nav>
        {{/if}}
        <main>
            {{{body}}}
        </main>
    </body>
</html>