<section class="section">
    <div class="container is-max-desktop">
        <h1 class="title">Change Password</h1>
        <p class="subtitle">You will be logged out upon a successful password change.</p>
        <form id="password-form" method="post">
            <div class="field">
                <label for="old-password" class="label">Current Password</label>
                <div class="control">
                    <input class="input" type="password" id="old-password" name="old-password">
                </div>
                <p id="old-password-error" class="help is-danger error"></p>
            </div>
            <div class="field">
                <label for="password1" class="label">New Password</label>
                <div class="control">
                    <input class="input" type="password" id="password1" name="password1">
                </div>
                <p id="password1-error" class="help is-danger error"></p>
            </div>
            <div class="field">
                <label for="password2" class="label">Re-enter Password</label>
                <div class="control">
                    <input class="input" type="password" id="password2" name="password2">
                </div>
                <p id="password2-error" class="help is-danger error"></p>
            </div>
            <div class="buttons">
                <input class="button is-link" type="submit" value="Change Password">
            </div>
        </form>
    </div>
</section>
<script>
    const showOldPassError = errorManager('old-password-error');
    const showPass1Error = errorManager('password1-error');
    const showPass2Error = errorManager('password2-error')

    handleForm('password-form', 'POST', '/change-password', (formData) => {
        const old_password = formData.get('old-password');
        const password1 = formData.get('password1');
        const password2 = formData.get('password2');
        if(old_password === "")
            return showOldPassError('Your current password must be provided.');
        showOldPassError();
        if(password1 === "" || old_password === password1)
            return showPass1Error('A new password must be provided.');
        if(password1.length < 6 || !password1.match(/[A-Z]/g) || !password1.match(/\d/g) || !password1.match(/[!-\/:-@\[-`]/g) || password1.match(/\s/g))
            return showPass1Error("New password must be at least six characters and contain no spaces, an uppercase letter, a digit, and a special character.");
        showPass1Error();
        if(password2 === "" || password1 !== password2)
            return showPass2Error('Retyped password does not match new password.');
        showPass2Error();

        return { old_password: old_password, password1: password1, password2: password2 };
    });
</script>