<form action="/register" method="POST" id="registration-form">
    <label for="email">Stevens.edu Email:</label>
    <input type="text" id="email" name="email" placeholder="email">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="password">
    <button type="submit">Register</button>
</form>
{{#if error}}
    <p class="help is-danger">Error {{error}}: {{message}}</p>
{{/if}}
    <a href="/login">Already have an account? Click here to log-in</a>