 <article>
 
 <h1> Log In Page</h1>

    <form id="register-form" method="post">
        <label for="emailInput">Stevens.edu email:</label>
        <input type="text" id="emailInput" name="emailInput" placeholder="email">
        <label for="passwordInput">Password:</label>
        <input type="password" id="passwordInput" name="passwordInput" placeholder="password">
        <input type="submit" value = "Register">
    </form>

    <!-- Add options for selecting major, school, gender, DOB, graduating year, inputting display name -->

    <li><a href="/login">Already have an account? Click here to log-in</a></li>

</article>