<div class="section">
    <h1>This is the View Polls Page. Enjoy your polls, just don't dance on them</h1><br><br>
    {{#each polls}}
        <div>
            <p>{{title}}</p>
            <p>By {{author}}</p>
            <p>available until {{close_date}}</p>
            <br><br>
        </div>
    {{/each}}




</div>