<form id="form">
    <select id="options">
        {{#each poll.choices}}
        <option value="{{@index}}">{{this}}</option>
        {{/each}}
    </select>
    <p id="options-error" class="error"></p>
    <input type="submit" value="vote">
</form>
<script>
const pathParts = window.location.pathname.split('/');
const pollId = pathParts[pathParts.length - 1];
const options = document.getElementById('options');
const error = document.getElementById('options-error');
handleForm("form", "POST", `/polls/${pollId}`, () => {
    if (!options.value) {
        error.innerText = 'An option must be selected.';
        return;
    } else {
        error.innerText = '';
    }

    const vote = +options.value;
    return { vote: vote };
});
</script>