<h1>Edit Label for {{rosterLabel}}</h1>

<form id="edit-roster-form" method="POST" action="/rosters/edit/title/{{rosterId}}">
  <input type="hidden" name="_method" value="PATCH">
{{!-- if editing title, one form --}}
  {{#if rosterLabel}}
    <label id="rosterLabel" for="titleInput">Title:</label><br>
    <input type="text" placeholder="New Name" id="titleInput" name="titleInput" required><br>
  {{/if}}

{{!-- if adding student, another form
{{#if}}
  <label id="studentLabel" for="studentEmailInput">Student Email to Add:</label><br>
  <input type="email" placeholder="student@stevens.edu" id="studentEmailInput" name="studentEmailInput" pattern=".+@stevens\.edu" required><br>
{{/if}}
 --}}
{{!-- if removing student, a third form 
{{#if}}
  <label id="assistantLabel" for="assistantEmailInput">Assistant Email to Add:</label><br>
  <input type="email" placeholder="assistant@stevens.edu" id="assistantEmailInput" name="assistantEmailInput"><br>
{{/if}}
--}}
  <button type="submit" id="submit">Submit</button>
</form>